.git
.idea


/www/vendor
/www/node_modules

/www/public/hot
/www/public/storage


/www/storage/*.key
/www/storage/framework/cache/**
/www/storage/framework/sessions/**
/www/storage/framework/views/**


/www/.env
/www/.env.backup


/www/.phpunit.result.cache
/www/Homestead.json
/www/Homestead.yaml
/www/npm-debug.log
/www/yarn-error.log
